<html lang="fa">
<head>


<meta charset="utf-8">
<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- End of bootstrap -->
<style>
    @font-face {
    font-family: "MyFont";
    src: url(Far_DastNevis.otf) format("truetype");
}
    body{
        font-family: MyFont;
        background-color: rgba(41, 205, 238, 0.22);
    }
</style>

</head>

<body>

<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">ثبت نام کاربران</h1>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
            <div class="form-group">
              <input name="first_name" type="text" class="form-control input-lg" placeholder="First Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Last Name">
            </div>
              <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Age">
            </div>
                  <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="User Name">
            </div>
                      <form class="form col-md-12 center-block">
            <div class="form-group">
              <input name="email" type="text" class="form-control input-lg" placeholder="Email">
            </div>
                          <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
                              <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Re-Enter the Password">
            </div>

            <span class="pull-right"><a href="login.html">ورود</a></span>
             <span class="pull-left"><a href="forget.html">فراموشی رمز عبور</a></span>
            <div style="padding-top: 1cm" class="form-group">
              <button class="btn btn-primary btn-lg btn-block">ثبت نام</button>

            </div>

      </div>
      <div class="modal-footer">
          <div class="col-md-12">

		  </div>
      </div>
  </div>
  </div>
</div>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

	</body>

</html>
